* {
  margin: 0;
  padding: 0;
}

.top {
  background-color: bisque;
  height: 1200px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

img {
  margin: 10px;
}

.inview {
  opacity: 0;
  transition: 2s;
}

.inview p {
  font-size: 12px;
  margin: 10px;
}

.inview.show {
  opacity: 1;
}

.text {
  height: 100px;
}

.text p {
  margin-left: 10px;
}