* {
  margin: 0;
  padding: 0;
}

.top {
  background-color: bisque;
  height: 1200px;
}

.img_scroll {
  width: 87.5%;
  margin: auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

ul li {
  list-style: none;
  width: 30%;
  margin-right: 50px;
}

ul li:nth-of-type(3n) {
  margin-right: 0;
}

.title_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0;
}

li p {
  font-size: 12px;
}

.content {
  opacity: 0;
  transition: 2s;
}

.img_area img {
  width: 100%;
}

.content.show {
  opacity: 1;
}

.text_area {
  min-height: 100px;
  margin: 30px 0;
}

.text_area p {
  font-size: 15px;
}